<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/use.css">
  <title>Create Sport Form</title>
</head>
<body>
  <h1>Welcome <%=adminName %> &nbsp;<%=adminEmail %></h1>
  
<%- include('creatematch.ejs') %>
<!-- joinmatch -->
<%-include('joinmatch.ejs')%>
<!-- displayall -->
<%-include('displayall.ejs')%>
<!-- displayindividual --> 
<%-include('displayindividual.ejs')%>
<!-- deletematch -->
<%-include('deletematch.ejs')%>


</body>

</html>
